<div class="w-100">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Uttrakhand Technical University</h3>
            <div class="subheading mb-3">Bachelor of Technology</div>
            <div>Computer Science and Engineering</div>
            <p>CGPA: 6.68</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">August 2012 - May 2016</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Kendriya Vidalaya INA Colony</h3>
            <div class="subheading mb-3">High School : Science</div>
            <p>63.80 %</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">March 2010 - March 2011</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
            <h3 class="mb-0">Kendriya Vidalaya INA Colony</h3>
            <div class="subheading mb-3">Science</div>
            <p>70.00 %</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">March 2008 - March 2009</span>
        </div>
    </div>

</div>